---
import { getCollection } from 'astro:content';

import PostList from '../../components/posts/post_list.astro';
import { resolveLocale, useTranslations } from '../../i18n/ui';
import DefaultLayout from '../../layouts/default_layout.astro';

const locale = resolveLocale(Astro.currentLocale);
const translate = useTranslations(locale);

const posts = await getCollection('posts');
---

<DefaultLayout title={translate('home.pageTitle')}>
	<h1>{translate('home.latestArticles')}</h1>
	<PostList posts={posts} />
</DefaultLayout>
