---
import { getCollection } from 'astro:content';

import PostList from '../../components/posts/post_list.astro';
import DefaultLayout from '../../layouts/default_layout.astro';

const posts = await getCollection('posts');
---

<DefaultLayout title="Sonny — placeholder">
	<h1>Astro scaffold placeholder (en)</h1>
	<PostList posts={posts} />
</DefaultLayout>
