---
import { localizedUrl } from '../../lib/localized_url';
import { ROUTES, type RoutePath } from '../../constants/routes';
import {
	resolveLocale,
	useTranslations,
	type UiStringKey,
} from '../../i18n/ui';

type NavigationTarget = {
	labelKey: UiStringKey;
	routePath: RoutePath;
};

const NAVIGATION_TARGETS: readonly NavigationTarget[] = [
	{ labelKey: 'navigation.home', routePath: ROUTES.home },
	{ labelKey: 'navigation.blog', routePath: ROUTES.blog },
	{ labelKey: 'navigation.projects', routePath: ROUTES.projects },
];

const locale = resolveLocale(Astro.currentLocale);
const translate = useTranslations(locale);

const navigationLinks = NAVIGATION_TARGETS.map((navigationTarget) => ({
	label: translate(navigationTarget.labelKey),
	href: localizedUrl(locale, navigationTarget.routePath),
}));
---

<div class="flex gap-4">
	{
		navigationLinks.map((navigationLink) => (
			<a
				href={navigationLink.href}
				class="text-gray-400 whitespace-nowrap"
			>
				{navigationLink.label}
			</a>
		))
	}
</div>
